@page "/hi"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model XN_Blazor.Pages.Login.LoginModel
<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="UTF-16"/>
	<title>XN Solution</title>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel='stylesheet' href='~/css/Login.css' />
</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div class="screen">
			<div class="screen__content" >
				<form data="LoginUser" class="login" method="post" >
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input asp-for="LoginUser.User_ID" type="text" class="login__input" placeholder="직원ID">
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input asp-for="LoginUser.User_PW" type="password" class="login__input" placeholder="비밀번호">
					</div>
					<button class="button login__submit" type="submit">
						<span class="button__text">Log In Now</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
				<div class="social-login">
					<h3>XN Solution</h3>
					<p>@ViewData["ErrorMsg"]</p>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
	<!-- partial -->

</body>
</html>

@{
	
}
